.gallery {
  padding: 25px 155px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.gallery-item {
  border: 1px solid #808080;
  max-width: 360px;
}

.gallery-image {
  width: 360px;
  height: 152px;
}

.data-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}

.wrap-title {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
}

.wrap-text {
  display: flex;
  justify-content: center;
  font-size: 12px;
  letter-spacing: 0.04em;
}
